CREATE TABLE IF NOT EXISTS public.library_apa_books (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, title TEXT NOT NULL, author TEXT NOT NULL, category TEXT, isbn TEXT, total_copies INTEGER DEFAULT 1, available_copies INTEGER DEFAULT 1, location TEXT, created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL, updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL, internal_registration TEXT, registration_date DATE, book_type TEXT DEFAULT 'AVULSO', volume_number TEXT, subtitle TEXT, color_tag TEXT, cover_url TEXT, synopsis TEXT); ALTER TABLE public.library_apa_books ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Allow
all
access
to
library_apa_books\ ON public.library_apa_books FOR ALL USING (true) WITH CHECK (true);
